# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*
*.sqlite3
*.db

# Logs
logs/
*.log

# OS-specific
Thumbs.db
Desktop.ini
.DS_Store
ehthumbs.db
*.lnk

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual environments
venv/
.env/

# Temporary files
*.tmp
*.bak
